### 시리즈 메서드 과제1 
- append : 2개 이상의 시리즈 연결
- describe 
- drop_duplicates :중복값을 제거 
- equals : 해당 값을 가진 요소가 있는지 체크
- get_values :시리즈 값을 구하기 ( values와 동일)
- isin 
- min
- max
- ...기초통계관련
- replace 특정 값을 가진 시리즈를 교체 
- sort_values
- to_frame

- 주석처리로 작동에 대해서 설명해주세요!

- 구글링으로 찾아도 쉽게 나오는 내용이라 찾아봐 주세요!

In [2]:
import pandas as pd # 판다스 라이브러리

In [15]:
df = pd.read_csv('mpg.csv') # csv파일 불러온다

In [16]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

### append

In [17]:
series1 = df['manufacturer'] # 시리즈 형성
series2 = df['drv']

series1.append(series2) # 시리즈.append(시리즈)

C:\Users\sshss\AppData\Local\Temp\ipykernel_14264\1190550909.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series1.append(series2) # 시리즈.append(시리즈)

0      audi
1      audi
2      audi
3      audi
4      audi
       ...
229       f
230       f
231       f
232       f
233       f
Length: 468, dtype: object

### describe

In [18]:
series1.describe() # 요약 통계 # 시리즈.describe()

#count : 총 데이터 수
#unique : 중복 없이 나오는 고유한 데이터 값
#top : 가장 값이 많은 데이터 (최빈값인 항목)
#freq : 최빈 데이터의 실제 수

count       234
unique       15
top       dodge
freq         37
Name: manufacturer, dtype: object

### drop_duplicates

In [19]:
series1.drop_duplicates # 중복된 값 제거 # 시리즈.drop-duplicates

<bound method Series.drop_duplicates of 0            audi
1            audi
2            audi
3            audi
4            audi
          ...
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
Name: manufacturer, Length: 234, dtype: object>

### equals

In [13]:
series3 = df['hwy'] # 해당 값을 가지고 있는지 체크
series4 = df['cty'] 
series3.equals(series4) # 시리즈.equals(시리즈)

False

In [14]:
series3 = df['hwy'] 
series4 = df['hwy']
series3.equals(series4) # 해당 값을 가지고 있다 (=Ture)

True

### isin

In [16]:
series1.isin(['audi', 'volkswagen']) # 시리즈isin([포함여부가 궁금한 값들의 리스트 형태])
                                    # audi, volkswagen 값을 가진 곳 까지 True를 반환하고 나머지는 False를 반환한다

0      True
1      True
2      True
3      True
4      True
       ...
229    True
230    True
231    True
232    True
233    True
Name: manufacturer, Length: 234, dtype: bool

In [19]:
series2.isin(['f'])

0      True
1      True
2      True
3      True
4      True
       ...
229    True
230    True
231    True
232    True
233    True
Name: drv, Length: 234, dtype: bool

### min

In [27]:
print("고속도로 연비 칼럼에서의 최솟값 : {}".format(series3.min())) # 각 컬럼값 (시리즈 형태) 최솟값

고속도로 연비 칼럼에서의 최솟값 : 12

In [28]:
print("도시 연비 칼럼에서의 최솟값 : {}".format(series4.min()))

도시 연비 칼럼에서의 최솟값 : 12

### max

In [37]:
print("고속도로 연비 칼럼에서의 최대값 : {}".format(series3.max())) # 각 컬럼값 (시리즈 형태) 최대값

고속도로 연비 칼럼에서의 최대값 : 44

In [36]:
print('도시 연비 칼럼에서의 최대값 : {}'.format(series4.max()))

도시 연비 칼럼에서의 최대값 : 44

### median

In [35]:
print("고속도로 연비 칼럼에서의 평균 : {}".format(series3.median())) # 각 컬럼값 (시리즈 형태) 평균값

고속도로 연비 칼럼에서의 평균 : 24.0

In [34]:
print("도시 연비 칼럼에서의 평균 : {}".format(series4.median()))

도시 연비 칼럼에서의 평균 : 24.0

### replace 특정 값을 가진 시리즈를 교체

In [8]:
series5 = df['manufacturer'] # replace 사용하지 않고 시리즈를 교체
series5

0            audi
1            audi
2            audi
3            audi
4            audi
          ...
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
Name: manufacturer, Length: 234, dtype: object

In [12]:
series5.replace('volkswagen', 'gookmin') # volkswagen라는 값이 gookmin으로 교체 되었다

0         audi
1         audi
2         audi
3         audi
4         audi
        ...
229    gookmin
230    gookmin
231    gookmin
232    gookmin
233    gookmin
Name: manufacturer, Length: 234, dtype: object

### sort_values

In [44]:
series3.sort_values() # 값 정렬할 시리즈.sort_vlaues() # ascending=True 디폴트 값

54     12
65     12
126    12
69     12
59     12
       ..
106    36
196    37
222    41
212    44
221    44
Name: hwy, Length: 234, dtype: int64

In [46]:
series4.sort_values() # 시리즈4에 대한 값 정렬

54     12
65     12
126    12
69     12
59     12
       ..
106    36
196    37
222    41
212    44
221    44
Name: hwy, Length: 234, dtype: int64

In [47]:
series3.sort_values(ascending=False) # 시리즈 값들을 내림차으로 정렬

221    44
212    44
222    41
196    37
105    36
       ..
65     12
59     12
126    12
69     12
54     12
Name: hwy, Length: 234, dtype: int64

In [48]:
series4.sort_values(ascending=False)

221    44
212    44
222    41
196    37
105    36
       ..
65     12
59     12
126    12
69     12
54     12
Name: hwy, Length: 234, dtype: int64

### to_frame

In [25]:
display(series2) # 데이터프레임으로 전활할 시리즈.to-frame()
df2 = series2.to_frame() # 시리즈를 데이터프레임으로 전환
print('')
display(df2) # 데이트프레임을 보여준다

0      f
1      f
2      f
3      f
4      f
      ..
229    f
230    f
231    f
232    f
233    f
Name: drv, Length: 234, dtype: object

    drv
0     f
1     f
2     f
3     f
4     f
..   ..
229   f
230   f
231   f
232   f
233   f

[234 rows x 1 columns]

# 수고하셨습니다 :)